/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/***** Things to Do ********/
.things-to-do {
    margin: 60px 80px 60px 80px;
}

.places-to-visit {
    display: flex;
    justify-content: space-between;
}

/****** Header *************/
.header-container {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr 1fr;
    grid-gap: 40px;
}

.booki-logo {
    padding: 10px;
    margin: 10px;
}

.booki-logo img {
    height: 20px;
    width: 60px;
}

.accomodation-link, .things-to-do-link {
    padding-top: 20px;
}

.accomodation-link a, .things-to-do-link a {
    padding-top: 20px;
}

.accomodation-link a:hover, .things-to-do-link a:hover {
    padding-top: 20px;
    border-top: 2px solid var( --main-color);
    color:  var( --main-color);
}

header h2 {
    margin-bottom: 0px;
}

header p {
    margin-bottom: 20px;
}

/****** Footer ************/
footer {
    background-color: var(--main-bg-color);
    padding: 30px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0px;
    margin: 1px;
}

li {
    padding: 0px;
    margin-top: 10px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

@media (width < 800px) {
   .main-container {
        grid-template-columns: 1fr;
   }

   .popular {
      order: 1;
   }

   .listings {
        order: 2;
   }

   .footer-container {
        grid-template-columns: 1fr;
   }
}


