/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

#main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/* **** Things to Do ******* */
.things-to-do {
    margin: 60px 80px 60px 80px;
}

.places-to-visit {
    display: flex;
    justify-content: space-between;
}

/****** Header *************/
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booki-logo {
    padding: 20px 20px 20px 0px;;
    margin: 20px 20px 20px 0px;;
}

.booki-logo img {
    height: 20px;
    width: 60px;
}

.header-container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}

.accomodation-link, .things-to-do-link {
    padding-top: 20px;
}

.accomodation-link a, .things-to-do-link a {
    padding-top: 20px;
}

.accomodation-link a:hover, .things-to-do-link a:hover {
    padding-top: 20px;
    border-top: 2px solid var( --main-color);
    color:  var( --main-color);
}

h2 {
    margin: 0px;
}

header h2 {
    margin-bottom: 0px;
}

header p {
    margin-bottom: 20px;
}

/***** Search Form *******/
.search-form {
    margin-top: 40px;
    margin-bottom: 40px;
}

.search-form img {
    margin: 20px 20px 20px 0px;
    padding: 20px 20px 20px 0px;
}

.form-container {
    width: 350px;
    height: 45px;
    margin: 0px 0px 30px 0px;
    display: flex;
}

.input-and-button {
    display: flex;
}

.input {
    height: 50px;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1.15em;
    padding-left: 30px;
}

.button {
    height: 45px;
    margin: 0px;
}


.button {
    height: 115%;
    width: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var( --main-color);
    color: white;
    cursor: pointer;
    border: none;
}

.map-icon {
    height: 115%;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.map-icon img {
    display: flex;
    align-self: center;
    margin: 0px 0px 10px 20px;
}

/***** Filters ******/
.filters {
    padding-bottom: 80px;
    padding-bottom: 40px;
}

.filters nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30px;
    width: 1000px;
}

.budget-and-family, .romantic-top-pick {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.budget img, .family-friendly img, .romanic img, .top-pick img {
    width: 30px;
    height: 30px;
}

.budget, .family-friendly, .romanic, .top-pick {
    display: flex;
    border: 2px solid #D9D9D9;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.budget:hover, .family-friendly:hover, .romanic:hover, .top-pick:hover {
    background-color: #DEEBFF;
}

.filters-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1em;
}

/** accomoadation info ****/
.accomodations-info {
    display: flex;
    justify-content: flex-start;
    width: 600px; 
    gap: 20px;
    font-size: 1.3em;
    padding: 10px 10px 20px 0px;
}

.info-img {
    border: 2px solid #D9D9D9;
    align-self: center;
    height: 20px;
    padding: 5px 15px 10px 15px;
    border-radius: 50%;
}

/****** Footer ************/
footer {
    background-color: var(--main-bg-color);
    padding: 30px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0px;
    margin: 1px;
}

li {
    padding: 0px;
    margin-top: 10px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

@media (width < 800px) {
   .main-container {
        grid-template-columns: 1fr;
   }

   .popular {
      order: 1;
   }

   .listings {
        order: 2;
   }

   .footer-container {
        grid-template-columns: 1fr;
   }

   /* **** Header *** */
   .header-container {
        flex-direction: column;
        align-content: space-between;
   }

   .booki-logo {
        align-self: center;
        padding: 20px;
        margin: 20px;
   }

   .header-container ul {
        justify-content: space-around;
   }

   .accomodation-link a:hover, .things-to-do-link a:hover {
     padding-bottom: 20px;
     border-top: none;
     border-bottom: 2px solid var( --main-color);
     color:  var( --main-color);
   }

   header h2 {
        margin-top: 20px;
    }

    .accomodation-link, .things-to-do-link {
        padding-top: 0px;
    }

    .accomodation-link a, .things-to-do-link a {
        padding-top: 0px;
    }

    .filters nav {
        height: 200px;
    }
}


